{% extends 'core/index.html' %}
{% load crispy_forms_tags %}

{% block title %} Login | Cuddlypotato {% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
    {% endif %}
<form method="post" action="" class="mb-6">
    {% csrf_token %}
    
    {{ form|crispy }}

    <div class="field">
        <div class="control">
            <button class="button is-success">Login</button>
        </div>
    </div>
</form>
{% endblock %}